<div class="container">
	<h2>Login and Signup</h2>
	<div *ngIf="showLoginForm">
	  <h3>Login</h3>
	  <form (ngSubmit)="login()" #loginForm="ngForm">
		<div class="form-group">
		  <label for="loginEmail">Email:</label>
		  <input type="text" id="loginEmail" name="loginEmail" required [(ngModel)]="loginEmail">
		</div>
		<div class="form-group">
		  <label for="loginPassword">Password:</label>
		  <input type="password" id="loginPassword" name="loginPassword" required [(ngModel)]="loginPassword">
		</div>
		<div class="form-group">
		  <input type="submit" value="Login" class="btn">
		</div>
	  </form>
	  <p>Don't have an account? <a  (click)="toggleForm()">Signup</a></p>
	</div>
	<div *ngIf="!showLoginForm">
	  <h3>Signup</h3>
	  <form (ngSubmit)="signup()" #signupForm="ngForm">
		<div class="form-group">
		  <label for="signupName">Name:</label>
		  <input type="text" id="signupName" name="signupName" required [(ngModel)]="signupName">
		</div>
		<div class="form-group">
		  <label for="signupEmail">Email:</label>
		  <input type="text" id="signupEmail" name="signupEmail" required [(ngModel)]="signupEmail">
		</div>
		<div class="form-group">
		  <label for="signupPassword">Password:</label>
		  <input type="password" id="signupPassword" name="signupPassword" required [(ngModel)]="signupPassword">
		</div>
		<div class="form-group">
		  <input type="submit" value="Signup" class="btn">
		</div>
	  </form>
	  <p>Already have an account? <a  (click)="toggleForm()">Login</a></p>
	</div>
  </div>
  