<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">

      <ion-button (click)="navFun('BILL')" class="custom-button">
        Bill
      </ion-button>
      <ion-button (click)="navFun('RATE')" class="custom-button">
        Rate Fixer
      </ion-button>
      <ion-button (click)="navFun('SETTLEMENT')" class="custom-button">
        Settlement
      </ion-button>
      <ion-button (click)="navFun('CUSTOMER')" class="custom-button">
        Customer
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
      <ion-button (click)="navFun('SETTING')" class="custom-button">
        <ion-icon name="settings"></ion-icon>
      </ion-button>
      <ion-button (click)="navFun('LOGOUT')" class="custom-button">
        <ion-icon name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>


  </ion-toolbar>
</ion-header>

  
  <ion-content>
    <ion-list>
      <ion-item>
        <ion-label position="stacked">Shop Name</ion-label>
        <ion-input [(ngModel)]="shopName" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Contact Number</ion-label>
        <ion-input [(ngModel)]="contactNumber" type="tel"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Keep Data of Days</ion-label>
        <ion-input [(ngModel)]="backupDays" type="tel"></ion-input>
      </ion-item>
    </ion-list>
    <ion-button expand="full" (click)="saveData()">Save</ion-button>
    <ion-row>
      <ion-col size="12">
        <h6 class="h6-heading">Customer Upload &nbsp;
          
        </h6>
      </ion-col>
      <ion-col size-sm="3" size="8">
        <ion-input 
         type="file" accept=".xlsx" (change)="fileupload($event)"></ion-input>
      </ion-col>
      <ion-col size-sm="2" size="4">
        <ion-button type="submit" (click)="importData()">Customer Upload
          <ion-icon slot="end" name="cloud-upload"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="12">
        <h6 class="h6-heading">Products Upload &nbsp;
          
        </h6>
      </ion-col>
      <ion-col size-sm="3" size="8">
        <ion-input 
         type="file" accept=".json" (change)="fileupload($event)"></ion-input>
      </ion-col>
      <ion-col size-sm="2" size="4">
        <ion-button type="submit" (click)="backupToSystem()">Retriving data
          <ion-icon slot="end" name="cloud-upload"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  
    <ion-button expand="full" type= 'file' (click)="downloadBackupFile()">Create Backup</ion-button>
    <ion-button expand="full" type= 'file' (click)="exportData()">Create Customer Excel</ion-button>
    
  </ion-content>
  
