<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">

      <ion-button (click)="navFun('BILL')" class="custom-button">
        Bill
      </ion-button>
      <ion-button (click)="navFun('RATE')" class="custom-button">
        Rate Fixer
      </ion-button>
      <ion-button (click)="navFun('SETTLEMENT')" class="custom-button">
        Settlement
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
      <ion-button (click)="navFun('SETTING')" class="custom-button">
        <ion-icon name="settings"></ion-icon>
      </ion-button>
      <ion-button (click)="navFun('LOGOUT')" class="custom-button">
        <ion-icon name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>


  </ion-toolbar>
</ion-header>

  
  <ion-content>
    <ion-list>
      <ion-item>
        <ion-label position="stacked">Shop Name</ion-label>
        <ion-input [(ngModel)]="shopName" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Contact Number</ion-label>
        <ion-input [(ngModel)]="contactNumber" type="tel"></ion-input>
      </ion-item>
    </ion-list>
  
    <ion-button expand="full" (click)="importData()">Import</ion-button>
    <ion-button expand="full" (click)="exportData()">Export</ion-button>
  </ion-content>
  
