<ion-header>
  <ion-toolbar>
    <ion-title>
      BILL
    </ion-title>
    <ion-input placeholder="Phone Number" [(ngModel)]="phoneNumber"></ion-input>
    <ion-input placeholder="Name" [(ngModel)]="name"></ion-input>
    <ion-label>Bill Number: {{ billNumber }}</ion-label>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="8">
        <table mat-table [dataSource]="dataSource">
          <ng-container matColumnDef="itemCode">
            <th mat-header-cell *matHeaderCellDef>Item Code</th>
            <td mat-cell *matCellDef="let item">{{ item.itemCode }}</td>
          </ng-container>
          <ng-container matColumnDef="itemName">
            <th mat-header-cell *matHeaderCellDef>Item Name</th>
            <td mat-cell *matCellDef="let item">{{ item.itemName }}</td>
          </ng-container>
          <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef>Price</th>
            <td mat-cell *matCellDef="let item">{{ item.price }}</td>
          </ng-container>
          <ng-container matColumnDef="quantity">
            <th mat-header-cell *matHeaderCellDef>Quantity</th>
            <td mat-cell *matCellDef="let item" ><input type="text" [(ngModel)]="item.quantity" (change)="changeQuantity(item)"></td>
            
            
          </ng-container>
          <ng-container matColumnDef="totalPrice">
            <th mat-header-cell *matHeaderCellDef>Total Price</th>
            <td mat-cell *matCellDef="let item">{{ item.totalPrice }}  </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </ion-col>
      <ion-col size="4"  *ngIf="!isAddButtonClicked">
        <ion-button expand="full" (click)="addItem()">Add</ion-button>
        <ion-button expand="full" (click)="stashItems()">Stash</ion-button>
        <ion-button expand="full" (click)="updateItems()">Update</ion-button>
        <ion-button expand="full" (click)="clearItems()">Clear</ion-button>
        <ion-radio-group [(ngModel)]="paymentMethod">
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label>Cash</ion-label>
                <ion-radio value="cash"></ion-radio>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item>
                <ion-label>Card</ion-label>
                <ion-radio value="card"></ion-radio>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item>
                <ion-label>UPI</ion-label>
                <ion-radio value="upi"></ion-radio>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-radio-group>
        <ion-button expand="full" [disabled]="!paymentMethod" (click)="generateBill()">Generate Bill</ion-button>
      </ion-col>

      <ion-col size="4"  *ngIf="isAddButtonClicked">
        <ion-input placeholder="Item Code" [(ngModel)]="itemcode"></ion-input>
        <ion-input placeholder="Item Quandity" [(ngModel)]="itemquandity"></ion-input>
        <ion-button expand="full" (click)="addItem()">Add</ion-button>
        
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-label>Total Items: {{ totalItems }}</ion-label>
    <ion-label>Total Quantity: {{ totalQuantity }}</ion-label>
    <ion-label>Total Amount: {{ totalAmount }}</ion-label>
  </ion-toolbar>
</ion-footer>



