/* Adjust the styles as per your requirements */

ion-content {
  --ion-background-color: #f2f2f2;
}

mat-table {
  width: 100%;
}

ion-button {
  margin-bottom: 10px;
}

ion-footer {
  --ion-background-color: #f2f2f2;
  --ion-text-align: center;
}




