<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-button (click)="goToBill()" class="custom-button">
        <ion-icon name="home"></ion-icon>
      </ion-button>
      <ion-button (click)="goToBill()" class="custom-button">
        <ion-icon name="document-text"></ion-icon>
      </ion-button>
      <ion-button (click)="goToRate()" class="custom-button">
        <ion-icon name="star"></ion-icon>
      </ion-button>
      <ion-button (click)="goToSettlement()" class="custom-button">
        <ion-icon name="cash"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="goToSettings()" class="custom-button">
        <ion-icon name="settings"></ion-icon>
      </ion-button>
      <ion-button (click)="logout()" class="custom-button">
        <ion-icon name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
