ion-content {
    --ion-background-color: #ffffff;
  }
  
  ion-toolbar {
    --background: #3880ff;
    --color: #ffffff;
  }
  
  .custom-title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
  }
  
  .custom-button {
    margin: 0 4px;
    min-width: 40px;
  }
  
  .custom-button ion-icon {
    font-size: 24px;
  }
  
  @media (max-width: 576px) {
    .custom-button {
      min-width: 30px;
    }
  
    .custom-button ion-icon {
      font-size: 20px;
    }
  }
  
  // .right-section {
  //   height: 100%;
  //   display: flex;
  //   flex-direction: column;
  // }
  
  // .up-part {
  //   height: 50%;
  //   padding: 16px;
  // }
  
  // .down-part {
  //   height: 50%;
  //   padding: 16px;
  // }
  
  .mat-table {
    width: 100%;
    margin-bottom: 16px;
    color: black;
  }
  
  
  .right-section {
    height: 100%;
    display: flex;
    flex-direction: column;
    border-left: 5px solid #ccc; /* Add left border */
  }
  
  .up-part {
    height: 50%;
    padding: 16px;
    border-bottom: 5px solid #ccc; /* Add bottom border */
  }
  
  .down-part {
    height: 50%;
    padding: 16px;
  }
  .section-label {
    font-weight: bold;
    margin-bottom: 8px;
  }
  